#content {
  margin-top:10px;
  padding-bottom:10px;
}
#username {
  float:left;
}
#usericons {
  margin-left:10px;
  float:right;
}
#users {
  margin-left: 0.5%;
  padding-bottom: 10px;
  width: 20%;
}
.userNameEntry {
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}
.userCurrent {
  font-weight: bold;
}
