<template name="whiteboard">
    <div id="{{id}}" {{visibility name}} class="component gradientBar">
        {{#unless playingVideo}}
            <h3 id="whiteboard-navbar" class="title">
                <span class="glyphicon glyphicon-pencil"></span>
                {{title}}
            </h3>
            {{#each getCurrentSlide}}
                {{> slide}}
            {{/each}}
            <div id="whiteboard-container">
                <div id="whiteboard-paper">
                </div>
        <!--<h3 id="whiteboard-navbar" class="title">
            {{#if isMobileChromeOrFirefox}}
                {{> makeButton btn_class="fullscreenWhiteboardButton" i_class="glyphicon glyphicon-fullscreen"}}
            {{/if}}
            <span class="ion-easel heading"></span>
            {{title}}
        </h3>
        {{#each getCurrentSlide}}
            {{> slide}}
        {{/each}}
        <div id="whiteboard-container">
            <div id="whiteboard-paper">-->
            </div>
        {{/unless}}
        <video id="video-window" autoplay="autoplay" title="Speaker" style="width:100%;"></video>
    </div>
</template>
